<% if shoppingbag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shoppingbag.errors.count, "error") %> prohibited this shoppingbag from being saved:</h2>

      <ul>
      <% shoppingbag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>